
<div class="container-fluid">

        <div class="row-fluid">

            <!--Sidebar content-->
            <div class="span3">

                <div class="well sidebar-nav">
                    <ul class="nav nav-list" >
                        <li class="nav-header">Developer Docs</li>
                        <li><%- link_to('/developer/getting-started.html', 'Getting Started') %></li>
                        <li><%- link_to('/developer/framework-extensions.html', 'Framework + Extensions') %></li>
                        <li><%- link_to('/developer/look-and-feel.html', 'Look + Feel') %></li>
                        <li><%- link_to('/developer/services-data-model.html', 'Services + Data Model') %></li>
                        <li><%- link_to('/developer/security.html', 'Security') %></li>
                    </ul>
                </div>
            </div>

            <!--Body content-->
            <div class="span9 article-main">
                <header>
                    <div class="article-title">
                        <%- partial('post/title') %>
                    </div>
                </header>
                <div class="article-entry">
                    <% if (item.excerpt && index){ %>
                    <%- item.excerpt %>
                    <% } else { %>
                    <%- item.content %>
                    <% } %>
                </div>
                <footer><div class="article-comment">
                    <%- partial('comment') %>
                </div></footer>
            </div>
        </div>

</div>