<div class="row-fluid">
    <div class="span2 offset2">
        <h4>Navigate</h4>
        <ul>
            <li><%- link_to('/', 'Home') %></li>
            <li><%- link_to('/blog/index.html', 'Blog') %></li>
            <li><%- link_to('/developer/1_getting-started.html', 'Getting Started') %></li>
        </ul>
    </div>

    <div class="span2">
        <h4>Contribute</h4>
        <ul>
            <li> <a title="Submit a bug" href="https://issues.jboss.org/browse/HAL">Submit a bug</a> </li>
            <li> <a title="Write code" href="https://github.com/hal">Write Code</a> </li>
        </ul>
    </div>

    <div class="span2">
        <h4>Follow Us</h4>
        <ul>
            <li> <a title="Blog" href="/blog/index.html">Blog</a> </li>
            <li> <a title="Twitter" href="http://twitter.com/heiko_braun">Twitter</a> </li>
        </ul>
    </div>

    <div class="span2">
        <h4>Open Source</h4>
        <p> HAL is released under the <b>LGPL</b> open source license.</b>
            Learn more about the LGPL license <a href="http://de.wikipedia.org/wiki/GNU_Lesser_General_Public_License">here.</a>
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span10 offset2">
        <p style="margin-top: 5px; font-size: 80%;">
        <% if (config.author){ %>
            &copy; <%= new Date().getFullYear() %> <%= config.author %> All Rights Reserved
            <% } else { %>
            &copy; <%= new Date().getFullYear() %> <%= config.title %> All Rights Reserved
        <% } %>
        <br/>
        <i class="icon-fire"></i> Made with 
        <a href="https://github.com/jbossorg/bootstrap-community" style="text-decoration: underline;" target="_NEW">JBoss Community Bootstrap</a> and 
        <a href="http://zespia.tw/hexo/" style="text-decoration: underline;" target="_NEW">Hexo</a>
        <br/>
        <a href="https://plus.google.com/111624050919978288768" rel="publisher" style="text-decoration: underline;">Google+</a>
        </p>
    </div>
</div>
