<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
  <meta property="og:site_name" content="<%= config.title %>"/>

  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
    <meta property="og:image" content="<%= config.cover %>"/>
  <% } %>

    <link href="<%- config.root %>favicon.png" rel="icon"/>
    <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml"/>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--link rel="stylesheet" href="<%- config.root %>css/bootstrap.css" media="screen" type="text/css"/-->
    <link rel="stylesheet" media="screen" href="http://static.jboss.org/theme/css/bootstrap-community/2.3.1.1/bootstrap-community.min.css">


    <style type="text/css">

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .container-narrow {
            margin: 0 auto;
            max-width: 860px;
        }

        .carousel-inner>.item>img {
            margin: 0 auto;
        }

        .carousel-inner h3 {
            color:#ffffff;
        }

        .banner {
            background-color:#3B4D64;
            height: 110px;
            background: url("<%- config.root %>img/bg2_2000px.jpg") no-repeat scroll center center transparent;
        }

        .banner h1 {
            color:#ffffff;
            padding-top:60px;
            padding-left:15px;
        }

        .gist {
            font-size:80%;
            padding-right:15px;
            padding-left:15px;
        }

        .post header h1 {
            font-size: 28.5px;
        }

        .page header h1 {
            font-size: 28.5px;
        }
    </style>


    <link rel="stylesheet" href="<%- config.root %>css/responsive.css" type="text/css"/>
    <link rel="stylesheet" href="<%- config.root %>css/syntax.css" type="text/css"/>
    <link rel="stylesheet" href="<%- config.root %>css/hal.css" type="text/css"/>
</head>