<%- partial('_partial/head') %>

<body>

  <!-- header -->
  <%- partial('_partial/header') %>

  <!-- body -->
  <%- body %>

  <!-- footer-->
  <div class="clearfix"></div>
  <%- partial('_partial/footer') %>

  <!-- js  -->
  <%- partial('_partial/after_footer') %>
</body>
</html>